@tailwind base;
@tailwind components;
@tailwind utilities;

/* RE-BUILD AFTER CHANGES HERE */
body {
  background: radial-gradient(
    circle,
    rgb(28, 27, 90) 0%,
    rgb(15, 18, 44) 30%,
    rgb(15, 13, 31) 100%
  );
  min-height: 100vh;
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(56, 178, 172, 0.4);
    box-shadow: 0 0 0 0 rgba(56, 178, 172, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 15px rgba(56, 178, 172, 0);
    box-shadow: 0 0 0 15px rgba(56, 178, 172, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(56, 178, 172, 0);
    box-shadow: 0 0 0 0 rgba(56, 178, 172, 0);
  }
}
@keyframes pulse-light {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(178, 245, 234, 0.4);
    box-shadow: 0 0 0 0 rgba(178, 245, 234, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 15px rgba(178, 245, 234, 0);
    box-shadow: 0 0 0 15px rgba(178, 245, 234, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(178, 245, 234, 0);
    box-shadow: 0 0 0 0 rgba(178, 245, 234, 0);
  }
}

.react-multiple-carousel__arrow--left {
  left: calc(1% + 1px) !important;
}
.react-multiple-carousel__arrow--right {
  right: calc(1% + 1px) !important;
}
